#m2{
    font-family: 'Fredoka One';
}
.contact-us{
    height: auto;
    width: auto;
    background-color:  #ffa64d ;
    text-align: center;
    color: white;
    padding: 30px;
}

ol li {
    list-style: none;
    display: inline-block;
}
.containerOne {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}