body{
  background-image: url(https://bit.ly/2wyx0t0);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-size: larger;
}

h1{
  text-align: center;
  /* margin-left: 600px; */
}
h2{
  text-align: left;
}
html {
  font-family: sans-serif;
}

form {
  width: 600px;
  margin: 0 auto;
}
fieldset{
  font-size: large;
}
ol li a {
	text-decoration: none;
  color: white;
  font-size: 30px;
	padding: 0 20px;
}
/* .first{
	position: absolute;
  top: 10px;
  left: 16px;
} */
/* 
div {
  margin-bottom: 10px;
}

fieldset {
  background: cyan;
  border: 5px so/lid blue;
}

legend {
  padding: 10px;
  background: blue;
  color: cyan;
}
#button{
  text-align: center;
  color: blue;
  box-sizing: content-box;
  border-radius: 15px;
  
  /* background-color: blue; */
  /* padding: 15px; */
}
