body{
  background-image: url(https://bit.ly/3aiwZbo);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-size: larger;
}

h1{
  text-align: center;
  /* margin-left: 600px; */
}
html {
  font-family: sans-serif;
}

form {
  width: 600px;
  margin: 0 auto;
}

div {
  margin-bottom: 10px;
}

fieldset {
  background: cyan;
  border: 5px so/lid blue;
}

legend {
  padding: 10px;
  background: blue;
  color: cyan;
}