.title{
    font-size: 40px;
    font-family: 'Molle', ;
    font-style: italic;
    color: violet;
    /* text-transform: capitalize; */
    /* font-family: 'Bonbon', ; */
}
fieldset{
    /* background-color: aqua; */
    padding: 50px;
    border-radius: 25px;
}